#jarekmajcher_sylius_gift_wrapper_plugin_gift_wrap_dedication_help,
#jarekmajcher_sylius_gift_wrapper_plugin_gift_wrap_instruction_help {
    font-size: 0.8em;
    line-height: 1.2;
    margin-top: 0.5em;
    color: #999;
}